################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BridgeInternationalAcademies/*/bin/
/BridgeInternationalAcademies/*/obj/
*/.vs/
/.vs
